In [5]:
import pandas as pd
import numpy as np
from konlpy.tag import Kkma
from nltk.corpus import stopwords

In [6]:
#불용어 사전
stopwords = "C:/Users/daye/Downloads/stopwords_j_v2.csv"
stopwords_df = pd.read_csv(stopwords)
stopwords_df = stopwords_df.dropna(axis=0)

In [7]:
#불용어 집합으로 만들기
stopwords_set = set(stopwords_df['word'])

In [8]:
def tag_counting(file):

    f = open(file, "r")
    lines = f.read()

    kkma = Kkma()
    words = kkma.morphs(lines)

    from collections import Counter
    count = Counter(words)
    
    tag_count = []
    tags = []
    
    #dics = {'tag': n, 'count': c}
    for n, c in count.items():
        if n not in stopwords_set: 
            tags.append(n)
            tag_count.append(c)
    
        df = pd.DataFrame({'words' : tags, 'words_count' : tag_count})
        df.sort_values('words_count')
    return df

In [106]:
#브루클린으로 test
tags_brooklyn = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/brooklyn_review.txt")

In [107]:
tags_brooklyn = tags_brooklyn.sort_values('words_count', ascending = False)

     words  words_count
1        .          233
18       하          222
41       이          213
45       는          194
58       고          130
...    ...          ...
708     이즈            1
712     나무            1
715    향신료            1
719     쿠민            1
1314    뭐하            1

[1315 rows x 2 columns]

In [109]:
tags_downtowner = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/downtowner_review.txt")
tags_lotteria = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/lotte_review_v2.txt")
tags_mom = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/mom_review.txt")
tags_mc = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/mc_review.txt")
tags_shake = tag_counting(file = "C:/Users/daye/practice/review_지점명제거/shake_review.txt")

In [110]:
tags_downtowner.to_excel('tags_downtowner.xlsx')
tags_lotteria.to_excel('tags_lotteria.xlsx')
tags_mom.to_excel('tags_mom.xlsx')
tags_shake.to_excel('tags_shake.xlsx')
tags_mc.to_excel('tags_mc.xlsx')